<template>
    <div class="border-bottom text-left rounded-0">
        <!--Body-->
        <div class="card-body p-4 ">
            <div class="row">
                <div class="col-8">
                    <!--Title-->
                    <h2 class="mb-2">
                        <a :href="`/articles/${alias}`">{{ title }}</a>
                    </h2>
                    <!--Description-->
                    <p class="text-muted" v-html="cut(description)"></p>
                    <!--Statistic-->
                    <div class="row my-4">
                        <!---->
                        <div class="col-4">
                            <div class="d-flex">
                                <i class="fas fa-video"></i>
                                <span><slot name="videos"></slot></span>
                            </div>
                            <div class="d-flex">
                                <i class="fas fa-book "></i>
                                <span><slot name="books"></slot></span>
                            </div>
                        </div>
                        <!---->
                        <div class="col">
                            <div class="d-flex">
                                <i class="fas fa-smile"></i>
                                <span><slot name="suitable"></slot></span>
                            </div>
                            <div class="d-flex">
                                <i class="fas fa-comment-dollar"></i>
                                <span><slot name="demand"></slot></span>
                            </div>
                        </div>
                    </div>
                    <!--Link-->
                    <a class="btn btn-dark" :href="`/catalog/${alias}`"><slot></slot></a>
                </div>
                <!--Logo-->
                <div class="col-3">
                    <img :src="`/assets/img/catalog/${alias}/logo.svg`" alt="logo" width="100%">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            alias: String,
            title: String,
            description: String
        },
        methods: {
            cut(html) {
                console.log(html)
                console.log(html.split("</p>"))
                return html.split("</p>")[0]
            }
        }
    }
</script>

<style scoped>
    .fas {
        line-height: 25px;
        width: 30px;
    }
</style>