<template>
    <div class="card m-3 px-3">
        <div class="card-body">
            <div class="row">
                <a :href="`/articles/${alias}`">
                    <img width="200" class="border"
                         :src="`/assets/img/catalog/${parent}/${formats[format]}/${alias}.${type[format]}`" :style="width" height="110" alt="poster">
                </a>
                <div class="col-9">
                    <a :href="`/articles/${alias}`" class="h3">{{ title }}</a>
                    <div class="text-capitalize mt-2">
                        <slot name="authorText"></slot>
                    </div>
                    <div class="text-capitalize mt-2">
                        <slot name="publicationText"></slot>
                    </div>
                </div>
                <div class="text-muted my-2" v-html="cut(description)"></div>
                <a class="btn btn-dark" :href="`/articles/${alias}`">
                    <slot name="btnText"></slot>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            parent: String,
            format: Number,
            alias: String,
            title: String,
            description: String
        },
        data() {
            return {
                formats: ['articles', 'videos', 'books'],
                type: ["jpg", "jpg", "webp"]
            }
        },
        computed: {
            width() {
                return this.format === 2 ? "width: 90px" : "width: 200px"
            }
        },
        methods: {
            cut(html) {
                return html.split("</p>")[0]
            }
        }
    }
</script>