<template>
    <div class="card mb-4 text-left">
        <!--Body-->
        <div class="card-body p-5">
            <div class="row">
                <div class="col-8">
                    <!--Type-->
                    <span class="text-uppercase">{{ category }}</span>
                    <!--Title-->
                    <h2 class="mb-3 mt-1">{{ title }}</h2>
                    <!--Text-->
                    <p class="text-muted" v-html="cut(description)"></p>
                    <!--Statistic-->
                    <div class="row my-4">
                        <div class="col-4">
                            <div class="d-flex">
                                <i class="fas fa-file-alt"></i>
                                <span><slot name="articles"></slot></span>
                            </div>
                            <div class="d-flex">
                                <i class="fas fa-video"></i>
                                <span><slot name="videos"></slot></span>
                            </div>
                        </div>
                        <!---->
                        <div class="col">
                            <div class="d-flex">
                                <i class="fas fa-book"></i>
                                <span><slot name="books"></slot></span>
                            </div>
                            <div class="d-flex">
                                <i class="fas fa-comment-dollar"></i>
                                <span><slot name="demand"></slot></span>
                            </div>
                        </div>
                    </div>
                    <!--More link-->
                    <a class="btn btn-dark" :href="`/catalog/${alias}`">
                        <slot></slot>
                    </a>
                </div>
                <!--Logo-->
                <img class="col-4" :src="`/assets/img/catalog/${alias}/logo.svg`" alt="logo">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            alias: String,
            title: String,
            category: String,
            description: String
        },
        methods: {
            cut(html) {
                console.log(html)
                console.log(html.split("</p>"))
                return html.split("</p>")[0]
            }
        }
    }
</script>

<style scoped>
    .fas {
        line-height: 25px;
        width: 30px;
    }
</style>
