<template>
  <!--User block-->
  <div>
    <!--Buttons-->
    <ul class="navbar-nav">
      <li class="nav-btn">
        <button class="btn btn-sm btn-dark mr-2" @click="open('log'), title='Вход', placeholder=' или email', btnText='Войти', show=!show">Вход</button>
      </li>
      <li class="nav-btn">
        <button class="btn btn-sm btn-outline-secondary" @click="open('reg'), title='Регистрация', placeholder='', btnText='Зарегистрироваться', show=!show">Регистрация</button>
      </li>
    </ul>
    <!--Modal-->
    <transition name="modal-fade">
      <div class="modal-backdrop" v-if="show" @click="close()"></div>
    </transition>
    <transition name="modal-fade">
      <div class="v-modal" v-if="show">
        <!--Modal Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="tab-pane fade" style="opacity: unset">
            <ul class="modal-header p-0 nav nav-tabs">
              <!--Tabs-->
              <li class="nav-item d-flex">
                <!--Title-->
                <h5 id="log" class="nav-link modal-title" data-toggle="tab"
                    @click="title='Вход', placeholder=' или email', btnText='Войти'">
                  Вход
                </h5>
                <!--Title-->
                <h5 id="reg" class="nav-link modal-title" data-toggle="tab"
                    @click="title='Регистрация', placeholder='', btnText='Зарегистрироваться'">
                  Регистрация
                </h5>
              </li>
              <!--Close button-->
              <li class="p-2">
                <button type="button" class="close" @click="close()">&times;</button>
              </li>
            </ul>
          </div>
          <!--Body-->
          <div class="modal-body">
            <!--Form-->
            <form method="post" action="">
              <!--Login-->
              <div class="form-group">
                <label for="SignUpLogin" class="h5">Логин</label>
                <input type="text" id="SignUpLogin" class="form-control login-ico" name="username" :placeholder="'Введите логин' + placeholder" required>
              </div>
              <!--Email-->
              <div class="form-group" v-if="title === 'Регистрация'">
                <label for="email">Email адрес</label>
                <input type="email" class="form-control email-ico" id="email" name="email" placeholder="Введите email" required>
              </div>
              <!--Password-->
              <div class="form-group">
                <label for="password1" class="h5">Пароль</label>
                <!--First pass-->
                <div class="mb-2">
                  <i class="ico-pos fas fa-eye" id="showPass" @click="showPas"></i>
                  <input type="password" class="form-control password-ico" id="password1" name="password1" placeholder="Введите пароль" required>
                </div>
                <!--Second pass-->
                <input type="password" v-if="title === 'Регистрация'" class="form-control password-ico" id="password2" name="password2" placeholder="Введите пароль еще раз" required>
              </div>
              <!--Remember-->
              <div class="form-check" v-if="title === 'Вход'">
                <input type="checkbox" class="form-check-input position-static" id="rememberMe" name="rememberMe">
                <label class="form-check-label" for="rememberMe">Запомнить меня</label>
              </div>
              <!--Button-->
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-secondary mr-2" @click="close()">Отмена</button>
                <button type="submit" class="btn btn-dark" name="authorization">{{ btnText }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      title: '',
      placeholder: '',
      btnText: '',
      showPass: true,
    }
  },
  methods: {
    open(clicked) {
      setTimeout(() => {
        (clicked === 'log') ?
            $('log').classList.add('active')
            :
            $('reg').classList.add('active')
      }, 1, clicked)
    },
    close() {
      this.show = !this.show;
    },
    showPas() {
      if (this.showPass) {
        $('showPass').className = 'ico-pos fas fa-eye-slash';
        $('password1').type = 'text';
      } else {
        $('showPass').className = 'ico-pos fas fa-eye';
        $('password1').type = 'password';
      }
      this.showPass = !this.showPass;
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'src/main/assets/scss/vars';

@mixin icon-bg($icon) {
  padding-left: 40px;
  background: url(/assets/img/icons/#{$icon}.png) no-repeat;
  background-size: 35px;
}

.login-ico {
  @include icon-bg(user)
}
.email-ico {
  @include icon-bg(email)
}
.password-ico {
  @include icon-bg(password)
}

.ico-pos {
  position: absolute;
  right: 1.1em;
  width: 24px;
  height: 24px;
  margin: 0.5em;
  cursor: pointer;
  &:hover {
    color: $neutral-regular;
    transition: .4s;
  }
}

.v-modal {
  position: fixed;
  left: calc(50% - 200px);
  z-index: 1050;
  width: 400px;
  overflow: hidden;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-fade-enter, .modal-fade-leave-active {
  opacity: 0;
}

.modal-fade-enter-active, .modal-fade-leave-active {
  transition: opacity 0.15s ease-in-out;
}
</style>
