<#import "../../templates.ftl" as templates>
<#import "../../constants.ftl" as consts>

<@templates.base>
    <@consts.consts></@consts.consts>
    <div class="container">
        <main class="p-4">

        </main>
    </div>
</@templates.base>