@import 'vars';

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  &::selection {
    background: #CBCBCB;
  }
}

body {
  font-size: 18px;
  background: $neutral-background;
}

// Preload
[v-cloak] > * {
  display: none;
}

#loading-bar {
  height: 100vh;
  width: calc(100vw - 10px);
  background: #F3F3F3;
  z-index: 18;
  position: fixed;
  opacity: 1;
  transition: opacity 1.2s;
}
#loading-bar-spinner.spinner {
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  z-index: 19 !important;
  transition: opacity .7s;
  animation: loading-bar-spinner 400ms linear infinite;
  .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  #3e3e3e !important;
    border-left-color: #3e3e3e !important;
    border-radius: 50%;
  }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

// Scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $neutral-placeholder;
  border-radius: 75px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb:hover {
  background: darken($neutral-placeholder, 5%);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb:active {
  background: darken($neutral-placeholder, 8%);
  box-shadow: inset 0 0 9px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: $neutral-background;
}

a {
  color: #000;
  transition: all 0.15s ease;
  &:hover {
    text-decoration: none;
  }
  &[href=''] {
    pointer-events: none;
    cursor: default;
    opacity: .35;
  }
  &.underlined {
    border-bottom: 1px solid rgba(52, 73, 94, 0.3);
    transition: box-shadow, border-bottom, border-color, background, color, fill, all .33s ease-out;
    &:hover {
      border-bottom-color: currentColor;
    }
  }
}

ul > li {
  list-style-type: none;
}

header, main {
  background: $default-color;
  box-shadow: $custom-box-shadow;
}

main {
  min-height: calc(100vh - 89px - 330px - 40*2px)
}

footer {
  background: $neutral-primary;
  color: $default-color;
  .bg-custom {
    background-color: $neutral-custom;
  }
  a {
    color: $neutral-placeholder;
    &:hover {
      color: #fff;
    }
  }
}

section, .section {
  position: relative;
  padding: 40px 0;
}

button, .btn, .page-item {
  transition: all 0.15s ease;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.page-link {
  color: $neutral-custom;
  &:hover, &.active {
    color: #fff;
    background-color: $neutral-custom;
  }
}

.nav-link.active {
  color: $default-color !important;
  background: $neutral-custom linear-gradient(180deg, rgba(62, 62, 62, 1) 90%, rgba(255, 255, 255, 1) 100%);
}
.active.ico-lighter {
  color: $neutral-placeholder;
  &:hover {
    color: $neutral-placeholder;
    cursor: not-allowed;
  }
}

.fade {
  transition: all 0.2s;
  transform: translateY(.5rem);
}
.fade.show {
  transform: translateY(0rem);
}

select {
  all: unset;
  border-bottom: 1px solid;
}

.form-check-input {
  position: relative;
  width: 14px;
  height: 14px;
}

.ico-lighter:hover {
  color: $neutral-regular;
  transition: .15s;
  cursor: pointer;
}

.custom-height {
  height: 52px;
  line-height: 1.75rem;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: none;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
  }
}