<template>
    <main class="row justify-content-between p-4">
        <h3>{{ options[selected].text }}</h3>
        <div class="form-group">
            <h5 class="d-inline mr-2">{{ text[1] }}:</h5>
            <label>
                <select v-model="selected">
                    <option v-for="option in options" :value="option.value">
                        {{ option.text }}
                    </option>
                </select>
            </label>
        </div>
        <div class="row col-12">
            <div class="col-3 p-3" v-for="item in catalog" :key="item.id"
                 v-if="selected===item.category+1 || !selected">
                <v-catalog-card :alias="item.alias" :title="item.title"
                                :countedCategories="countedCategories[item.id] || []"
                                :format="format"
                                :btn-text="text[2]"/>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        props: {catalog: Array, countedCategories: Object, categories: Array, text: Array, format: Array},
        data() {
            return {
                selected: 0,
                options: [
                    {text: this.text[0], value: 0}
                ],
            }
        },
        mounted() {
            for (let i = 1; i < this.categories.length; i++) this.options.push({text: this.categories[i-1], value: i});
        }
    }
</script>