<template>
    <div class="card">
        <a :href="`/catalog/${alias}`">
            <img class="card-img-top border-bottom" :src="`/assets/img/catalog/${alias}/catalog.png`" height="133px" alt="poster">
        </a>
        <div class="card-body pt-0">
            <h3 class="my-1">{{ title }}</h3>
            <span>{{ format[0] }}: <b>{{ countedCategories[0] || 0 }}</b></span><br>
            <span>{{ format[1] }}: <b>{{ countedCategories[1] || 0 }}</b></span><br>
            <span>{{ format[2] }}: <b>{{ countedCategories[2] || 0 }}</b></span><br>
            <a :href="`/catalog/${alias}`" class="btn btn-dark btn-block mt-3">{{btnText}}</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            alias: String,
            title: String,
            countedCategories: [Object, Array],
            format: Array,
            btnText: String
        }
    }
</script>