<#import "../templates.ftl" as templates/>
<#import "../constants.ftl" as consts/>
<@templates.base>
    <@consts.consts></@consts.consts>
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <main class="p-5">
            <h1 class="text-center">Путь от джуна до тимлида</h1>
            <div class="d-flex justify-content-center my-4">
                <img src="/assets/img/start/main-art.jpg" alt="just picture" width="80%">
            </div>
            <article class="mx-5">
                <p>Ты хочешь заниматься программированием, но тут так много всего, что тебе очень страшно и моментами
                    хочется бросить это дело? Не бойся, дружище, сейчас мы всё расскажем, покажем, разложим по полочкам
                    и тебе всё станет куда понятней.</p>
                <h2>Какой язык программирования мне учить?</h2>
                <p>Перед тем как начать учить какой либо язык программирования тебе стоит подумать и выбрать отрасль, в
                    которой ты хотел бы работать и развиваться. Об этом мы поговорим чуть ниже, но если не опираться на
                    сферы деятельности языка, то хорошим выбором будут Python и JavaScript или же Java и C. Поделены на
                    пары они не просто так, поэтому давай рассмотрим их плюсы и минусы в роли первого языка
                    программирования для изучения.</p>
                <div class="d-flex justify-content-center mt-5">
                    <img src="/assets/img/start/python-logo.svg" alt="python logo" width="450px">
                </div>
                <h3>Python</h3>
                <p>Многие рекомендуют данный язык в качестве старта для
                    изучения. И у него реально есть множество преимуществ перед новичком.</p>
                <p>Одной из главных особенностей Python является его простой лаконичность и интерфейс, в котором не
                    сложно разобраться. Так же огромным преимуществом является то, что к Python написана куча библиотек,
                    по сути он специально разбит на множество библиотек, а так же огромное камьюнити способствует их
                    появления для облегчения написания кода в разы. Помимо этого в Python нестрогая типизация
                    переменных, что хорошо, ведь вам не нужно заморачиваться с типами данных</p>
                <p> Хоть нестрого типизированные переменные могут
                    показаться для кого-то удобными, но может порождать ошибки при конвертации типов. Похожие проблемы
                    есть и с синтаксисом языка, ведь если вы захотите перейти на другой язык с си-подобным синтаксисом,
                    то вам будет сложнее. Еще один минус заключается в том, что в данном языке программирования по сути
                    нет нормального ООП, что для новичка вроде как не сильная потеря, но в недалеком будущем это может
                    стать проблемой. Но не смотря на все минусы, Python все равно отличный выбор для первого языка
                    программирования.</p>
                <div class="d-flex justify-content-center mt-5">
                    <img src="/assets/img/start/javascript-logo.png" alt="javascript logo" width="450px">
                </div>
                <h3>JavaScript</h3>
                <p>В данной подборке уместно сказать, что JavaScript по синтаксису это что-то среднее между Python и
                    Java. Нативный JS это клиентский язык программирования для сайтов. С его помощью мы по сути
                    взаимодействуем с пользователем не перезагружая страницу. Вся интерактивность, что вы видите на
                    сайте - это JavaScript. Но ни смотря на то, что в раньше он использовался только для web, сейчас
                    с помощью Node.js границы использования JS значительно расширились.</p>
                <p>Язык лёгок для изучения и в этом плане наверное
                    главный конкурент Python. Но тем не менее его интерфейс не сильно отличается от того же Java и C,
                    что упрощает иммиграцию на другой язык программирования. Javascript очень гибок, у него множество
                    областей применения.</p>
                <p>С другой стороны JS не строготипизирован, что в свою очередь может создать множество проблем. Так же
                    здесь вам разрешено совершать незаметные ошибки, которые потом будет очень сложно исправить. Но все
                    эти недостатки исправляются при помощи TypeScript.</p>
                <div class="d-flex justify-content-center mt-5">
                    <img src="/assets/img/start/java-logo.png" alt="java logo" width="300px">
                </div>
                <h3>Java</h3>
                <p>И так, мы переходим к "тяжелой" артиллерии. Java был хорош во все времена и не только потому что на
                    нем написан Minecraft.</p>
                <p>Одно из преимуществ Java - это кросплотформенность. Если кратко: написал, скомпилировал, всё,
                    запускай где хочешь. Помимо этого для Java написано большое количество библиотек. В отличии от C,
                    Java автоматически управляет памятью, что очень хорошо для новичка. Так же отличным плюсом является
                    наличие ООП и широкий спектр использования языка.</p>
                <p>Но тот же плюс с авто очисткой памяти может подставить Java в скорости. Причем проигрывает он не
                    только C. Еще многим не нравится, что у Java нет нативного дизайна, то есть GUI для приложения
                    проблемно создать. Так же можно отметить многослойный код, пример которого отлично описан ниже.</p>
                <div class="d-flex justify-content-center">
                        <img src="/assets/img/start/java-meme.png" alt="java meme" width="90%">
                </div>
                <p>Несмотря на вроде как весомые минусы, Java всё же один из лучших выборов для первого языка, ведь
                    несмотря на его сложность он может дать больше импакта новичку в дальнейшем будущем.</p>
                <div class="d-flex justify-content-center mt-5">
                    <img src="/assets/img/start/c-logo.png" alt="c logo" width="400px">
                </div>
                <h3>C</h3>
                <p> Знакомьтесь, это дедушка си. Кто-то может сказать, мол зачем рекомендовать такой древний язык
                    программирования, если на нем никто не пишет? А как раз таки наоборот. Си всё еще остается в первых
                    рядах несмотря ни на что. Сейчас расскажем почему.</p>
                <p>Как говорится, если ты знаешь C, значит ты знаешь C# и C++. И во многом это правда, ведь у них не так
                    уж много отличий, но используются они для разных целий. Так же C один из самых производительных
                    языков программирования. При его изучении вы лучше поймете архитектуру компьютера, что не будет
                    лишним. Синтаксис данного языка является основой множества других.</p>
                <p>Си в текущие дни это специфика либо же вынужденное использование. Так же в нём нет ООП. Поэтому если
                    у вас нету конкретной задачи для его изучения, то лучше не стоит.</p>
                <div class="d-flex justify-content-center">
                    <img src="/assets/img/start/c-meme.png" alt="c meme" width="50%">
                </div>
                <p>И всё же Си это основа, знать его не повредит и не будет лишним для общего развития, ведь он не
                    такой сложный, как все его малюют. И никто не запрещает вам выбрать C++ или C#, если их
                    направленность подходит вам больше.</p>
                <div class="d-flex justify-content-center my-5">
                    <img src="/assets/img/start/sub-art.webp" alt="direction in IT" width="90%">
                </div>
                <h2>Направления в программировании</h2>
                <p>Теперь стоит подумать о том, зачем и для чего ты хотел бы научиться программировать. Ну а пока ты
                    думаешь, мы невзначай расскажем тебе из чего ты вообще можешь выбрать.</p>
                <div class="d-flex justify-content-center my-5">
                    <img src="/assets/img/start/web-development.jpg" alt="web development logo" width="400px">
                </div>
                <h3>Разработка web-приложений и сайтов</h3>
                <p> Web-программирование это зачастую создание сайта, которое можно разделить на <b>backend</b>
                    (написание серверных скриптов) и <b>frontend</b> (разработка интерфейса). Ещё есть <b>full-stuck</b>
                    программисты, которые могут и то и другое. Но так, что бы они занимались и тем и другим в равной
                    степени не бывает. Всегда будет упор в одну из сторон. И на работе это тоже не сильно поощряется,
                    вас скорее всего отправят в конкретную отрасль проекта. Где full-stuck разработчик выигрывает, так
                    это в pet-projects (свои собственные проекты) и на фрилансе, но заказы тоже часто запрашивают
                    определенного специалиста.</p>
                <p>Хоть программисты и делятся на данные группы не значит, что фронтендер не сможет сделать запрос к
                    базе данных, или бекендер не сверстает всплывающее окошко на сайте. Любой специалист знает
                    противоположную отрасль (особенно бекендеры), но их уровень знаний не сравниться с со знаниями
                    коллеги, да и на работе не должно быть так, что бы один специалист полез делать работу другого. Но
                    так или иначе и тем и тем нужно знать HTML/CSS/JavaScript для фундамента.</p>
                <h4>Frontend</h4>
                <p>Сейчас во всех проектах помимо обычного набора используют другие технологии для frontend разработки.
                    Под JS в дальнейшем вам нужно будет изучить один из лидирующих фреймворков: React, Vue или Angular.
                    Они нацелены примерно на одни и те же вещи, но имеют различия. Когда вам нужно будет сделать выбор,
                    то советуем изучить данный вопрос тщательно.</p>
                <p>Так же после изучения CSS вы можете выбрать язык для упрощения написания кода: Sass/Scss или Less.
                    Sass вам должен понравится если вы учили Python, и особенно если выбрали его для backend. Scss - это
                    диалект языка Sass, поэтому выбирайте то, что больше нравиться. Так же стоит сказать, что Sass давно
                    "победил" Less. Но если вы по каким-то причинам после изучения и сравнения с Sass решили выбрать
                    Less, то бить вас никто за это не станет.</p>
                <h4>Backend</h4>
                <p> Для backend разработки подойдут такие языки программирования как: PHP, Java (Spring/Spring Boot),
                    Python (Django или Flask), JavaScript (Node.js/Express.js), Ruby (Ruby on Rails), C# (.NET). Выбор
                    велик и у каждого варианта есть свои плюсы и минусы.</p>
                <p>Так же вам нужно будет разобраться с базами данных и выучить SQL запросы для нее. Если вы выбрали
                    Java для бекенда, то не лишним будет выучить Hibernate для запросов в БД.</p>
                <div class="d-flex justify-content-center mt-5 mb-3">
                    <img src="/assets/img/start/desktop-development.png" alt="desktop development logo" width="450px">
                </div>
                <h3>Разработка desktop-приложений</h3>
                <p>Разработка программного обеспечения для различных операционных систем, все разнообразие софта, что мы
                    используем в повседневности. Хочешь написать свой обработчик фотографий, аудио-плеер или текстовый
                    редактор, тогда тебе сюда. Для desktop-development подойдут такие языки программирования как: C#, JS
                    (Electron), C++, Java.</p>
                <h4>C#</h4>
                <p>Тут у нас есть WPF или же .NET, это неплохие варианты проверенные временем. C# держит позицию одного
                    их лучших языков программирования. Но у него есть подводные камни в виже отсутствия
                    кросплатформенности и нужды скачивать фреймворк себе на ПК, что может оттолкнуть многих
                    пользователей.</p>
                <h4>JS (Electron)</h4>
                <p>Преимущество Electron в том, что если ты можешь создать сайт, то ты можешь написать десктоп
                    приложение. Так же это дает тебе кросплатформенность и легкость в использовании. А еще твои
                    пользователи будут получать обновления автоматически. Тем не менее это не совсем нативный вариант и
                    он будет работать медленнее.</p>
                <h4>C++</h4>
                <p>Тут у нас эталон к отличными преимуществами в виде кросплатфоменности под Windows, Linux. Быстрая
                    работа приложений, так они еще мало весят и кушать особо не просят. Но в противовес на C++ очень
                    долгая разработка и сложная поддержка приложений.</p>
                <h4>Java</h4>
                <p>Не самый плохой выбор для десктопа, ведь у него есть кросплатфоменность и развитый фрейворк, но всё
                    же у Java в данном случае проблемы с GUI и низкая производительность. А так же он наступает на те же
                    грабли, что и C# - нужно ставить фреймворк на ПК.</p>
                <div class="d-flex justify-content-center">
                    <img src="/assets/img/start/mobile-development.webp" alt="mobile development logo" width="80%">
                </div>
                <h3>Разработка мобильных приложений</h3>
                <p>При разработке мобильных приложений и игр у нас всё сводится к выбору языка под IOS или Android.
                    Кто-то может сказать, что под обе платформы можно выбрать один язык, но компилировать приложение вам
                    нужно будет всё равно под разные платформы, что отразиться на работе приложения не в лучшую сторону.
                    Есть по сути лишь один вариант кросплатформенности - это PhoneGap. Но это не совсем уже не то,
                    поэтому его мы рассматривать не будет.</p>
                <h4>IOS</h4>
                <p>Для разработки под IOS у вас по сути полтора варианта -
                    это Objective-C или Swift. Знающие люди скажут, что для новичка выбор очевиден - учи Swift и
                    будет тебе счастье, но это высказывание валидно только в том случае, если вы хотите работать в
                    новой компании или с новыми проектами. А всё потому что в AppStore на Objective-C работают
                    только еще не переписанные на Swift приложения либо кросплатформенные.</p>
                <h4>Android</h4>
                <p>Тут уже всё не так однозначно, впрочем это и не
                    удивительно. Тут у нас есть Android Studio - интегрированная среда разработки (IDE) для работы с
                    Android. Которая поддерживает Java/Kotlin. Но также есть возможность писать на C/C++. Либо можно
                    использовать C# с Unity. Рассмотрим каждый из вариантов.</p>
                <h4>Java/Kotlin</h4>
                <p>Оба языка программирования являются официальными для Android Studio. По сути Kotlin - это та же Java,
                    он тоже компилируется в JMV. Вы вообще можете использовать их почти что вместе. Kotlin более
                    дружелюбен к новичку, допустим в нём отсутствует многослойность Java. Но в то же время у Java больше
                    возможностей и он более гибок и востребован, у него огромное комьюнити, в отличии от "молодого"
                    Kotlin. Но для новичка слишком много плюсов в Kotlin, поэтому его однозначно стоит учить.</p>
                <h4>C/C++</h4>
                <p>Писать на этих языках в Android Studio можно через NDK. Это дает больше возможностей для управления
                    памятью, но в то же время NDK сложно настроить и поддерживать развитие приложения. C/C++ можно
                    использовать для тяжеловесных игр, и даже в этом случае лучше воспользоваться готовыми движками.
                    Нужно подходить к выбору C/C++ с пониманием зачем и почему вы выбираете именно их.</p>
                <h4>C#</h4>
                <p>C# более простой вариант и хорошая замена C и C++. Под C# есть Unity, который новички очень любят,
                    хоть у него есть свои подводные камни. По большей степени это игровой движок и писать на нем обычные
                    приложения избыточно. Зато Unity кросплоформенный, что огромный плюс. Да и сам C# замечательный
                    язык, собравший в себе много хорошего.</p>
                <div class="d-flex justify-content-center">
                    <img src="/assets/img/start/game-development.jpg" alt="game development logo" width="80%">
                </div>
                <h3>Разработка игр</h3>
                <p>Гигантская отрасль. Сюда включается разработка игр для ПК, консолей, и мобильный устройств. Для
                    GameDev подойдут такие языки как C# либо C++.</p>
                <h4>C#</h4>
                <p>Как всегда, при сравнении с C++ у нас получается, что C# выигрывает в плане лаяльности к новичкам.
                    Тут всё похоже на сравнение C# и C++ в мобильной разработке. На С# пишутся более легкие игры, и
                    опять использует супер популярный Unity, который не так сложен для начинающих.</p>
                <h4>C++</h4>
                <p>C++ используется для более тяжёлых игр и триплей проектов из-за своей возможности распределять память
                    и тем самым четко распределять ресурсы компьютера для оптимизации игры. Для разработки игр на C++
                    используют движок Unreal Engine, иногда CryEngine.</p>
                <div class="d-flex justify-content-center">
                    <img src="/assets/img/start/embedded-development.jpg" alt="embedded development logo" width="85%">
                </div>
                <h3>Системное программирование</h3>
                <p>Написание различных драйверов для оборудования, программирование «ядра» операционных систем. Кстати,
                    создание компиляторов и интерпретаторов для языков программирования относятся сюда же. Embedded
                    программисты обычно пишут на C или C++, из-за их скорости и легковесности. Такие программисты часто
                    работают с железом и работают на низком уровне абстракции.</p>
                <h2>Заключение</h2>
                <p>В итоге у тебя должен вырисовываться таков план действий:</p>
                <ol>
                    <li>
                        <p><span class="h5">Выберите сферу.</span> Выбери отрасль или профессию, которой хочешь
                            заниматься и подбери подходящий для себя
                            язык программирования</p>
                    </li>
                    <li>
                        <p><span class="h5">Приступай к изучению.</span> Начинай изучать язык программирования, его
                            синтаксис, основы и закономерности. Изучать
                            можно по видеоурокам в интернете или книгам, которые собраны у нас на сайте ;)</p>
                    </li>
                    <li>
                        <p><span class="h5">Практикуйся.</span> Больше практики богу практики! Пиши код каждый день,
                            хоть по чучуть. Начни писать свой
                            проект, для себя. Можешь взять уже готовые идеи и реальзовать их по своему</p>
                    </li>
                    <li>
                        <p><span class="h5">Ура работа!</span> Когда твой уровень знаний преодолеет уровень плинтуса, ты
                            можешь спокойно найти работу.
                            Лучшая практика - это практика в боевых условиях. Так же если тебе удастся попасть в
                            компанию, то более опытные коллеги всегда поделятся знаниями.</p>
                    </li>
                </ol>

                <#--                    <h2>А что насчёт работы?</h2>-->
                <#--                    <p>Вот ты учишься, учишься, а кушать то хочется. Решаешь ты найти работу и понимаешь, что не знаешь-->
                <#--                        куда тебе идти. Поэтому сейчас мы тебе расскажем какие варианты у тебя есть. В общем ты можешь-->
                <#--                        пойти работать на компанию в офисе, либо remote (удаленно из дома) или сам на фрилансе. И там и там есть свои преимущества.</p>-->
                <#--                    <h3>Работа в офисе</h3>-->
                <#--                    <p></p>-->
            </article>
        </main>
    </div>
</@templates.base>