<template>
    <div class="tooltip-block">
        <sup class="far fa-question-circle"></sup>
        <span class="tooltip-text"><slot></slot></span>
    </div>
</template>

<style lang="scss" scoped>
    .tooltip-block {
        font-size: 18px;
        position: relative;
        display: inline-block;
        &:hover .tooltip-text {
            visibility: visible;
            opacity: 1;
        }
        .tooltip-text {
            visibility: hidden;
            width: 180px;
            background-color: #555;
            color: #fff;
            font-size: 12px;
            text-align: center;
            border-radius: 6px;
            padding: 5px 10px;
            position: absolute;
            z-index: 1;
            bottom: 130%;
            margin-left: -97px;
            opacity: 0;
            transition: opacity 0.3s;
            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-top-color: #555;
            }
        }
    }
</style>