<template>
    <div class="accordion-container mb-2">
        <div @click="toggle" class="accordion-header">{{head}}</div>
        <transition name="accordion-content-animation">
            <div v-if="opened" class="accordion-content">
                <slot></slot>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        props: {head: String},
        data() {
            return {
                opened: false
            }
        },
        methods: {
            toggle() {
                return this.opened = !this.opened
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../scss/vars';

    .accordion-container {
        background: $neutral-base;
        border-left: 3px solid;
        border-left-color: $neutral-regular;
    }
    .accordion-header {
        cursor: pointer;
        padding: 3px 10px 5px;
        font-size: 20px;
        font-weight: 600;
    }
    .accordion-content {
        line-height: 1.2em;
        padding: 8px 10px;
        position: relative;
        &:before {
            content: '';
            background: $neutral-placeholder;
            width: 30%;
            height: 1px;
            display: block;
            position: absolute;
            top: 0;
            left: 10px;
        }
    }

    .accordion-content-animation-enter-active {
        transition: all .2s ease-out;
    }
    .accordion-content-animation-leave-active {
        transition: all .2s ease-in;
    }
    .accordion-content-animation-enter, .accordion-content-animation-leave-to {
        transform: translateY(-10px);
        opacity: 0;
    }
</style>