<template>
    <section v-if="pages">
        <h4><slot></slot></h4>
        <hr>
        <div :id="carouselId" class="carousel slide" data-interval="false">
            <!--Control-->
            <a v-if="pages > 1" class="carousel-control-prev pl-3" :href="'#' + carouselId" data-slide="prev" style="width: 65px">
                <div class="btn btn-sm btn-outline-dark"><</div>
            </a>
            <!--Carousel-->
                <div class="carousel-inner">
                <!--Carousel Item-->
                    <v-carousel-item v-for="(n, page) in pages" :key="page" :page="page">
                    <v-carousel-item-card v-for="(n, i) in Math.min(3, same.length - page * 3)" :key="i"
                                          :parent="parentsAliases[same[page * 3 + i].parent]"
                                          :alias="same[page * 3 + i].alias"
                                          :title="same[page * 3 + i].title"
                                          :author="same[page * 3 + i].author"
                                          :format="same[page * 3 + i].format">
                    </v-carousel-item-card>
                </v-carousel-item>
            </div>
            <!--Control-->
            <a v-if="pages > 1" class="carousel-control-next pr-3" :href="'#' + carouselId" data-slide="next" style="width: 65px">
                <div class="btn btn-sm btn-outline-dark">></div>
            </a>
            <ul v-if="pages > 1" class="carousel-indicators position-static">
                    <li v-for="(n, page) in pages" :key="page"
                        :class="isActive(page)" :data-target="'#' + carouselId" :data-slide-to="page"></li>
            </ul>
        </div>
    </section>
</template>

<script>
    export default {
        props: {
            parentsAliases: Object,
            same: Array,
            carouselId: String
        },
        data() {
            return {
                pages: this.pages = Math.ceil(this.same.length / 3)
            }
        },
        methods: {
            isActive(page) {
                return page ? "mt-2 border-0 bg-dark rounded" : "mt-2 border-0 bg-dark rounded active";
            }
        }
    }
</script>

<style scoped>
    li {
        height: 4px; transition: .5s
    }
</style>