<template>
    <div :class="isActive">
        <div class="row d-flex justify-content-between mx-5">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: {page: Number},
        computed: {
            isActive() {
                return this.page === 0 ? "carousel-item active" : "carousel-item"
            }
        }
    }
</script>

<style scoped>
    .carousel-item {
        transition: transform .6s ease-in-out;
    }
</style>