<template>
    <div class="col-4">
        <a :href="alias">
            <div class="card">
                <img class="card-img" :src="`/assets/img/catalog/${parent}/${formats[format]}/${alias}.${type[format]}`" alt="poster">
                <div v-if="format === 2" class="card-img-overlay text-white d-flex flex-column justify-content-end text-center p-0">
                    <div class="card-overlay py-2">
                        <div class="card-title my-1 h5">{{ title }}</div>
                        <div class="card-text small">{{ author }}</div>
                    </div>
                </div>
                <div v-else class="card-body text-center py-2">
                    <div class="card-title my-1 h5">{{ title }}</div>
                    <div class="card-text small">{{ author }}</div>
                </div>
            </div>
        </a>
    </div>
</template>

<script>
    export default {
        props: {
            parent: String,
            alias: String,
            title: String,
            author: String,
            format: Number
        },
        data() {
            return {
                formats: ['articles', 'videos', 'books'],
                type: ["jpg", "jpg", "webp"]
            }
        }
    }
</script>

<style scoped>
    .card-overlay {
        background-color: rgba(0, 0, 0, .8);
    }
</style>