<template>
    <section :class="['d-flex', justifyContent, 'px-3']">
        <!--Change arrow left-->
        <button v-if="playlistLinks" id="prev" @click="prev"  class="d-flex align-items-center block-lighter" :disabled="!linkIndex">
            <img  src="/assets/img/icons/arrow-left.png" alt="left">
        </button>
        <!--Video-->
        <iframe width="640" height="360" :src="'https://www.youtube.com/embed/' + linksArr[linkIndex]"
                frameborder="0" allowfullscreen></iframe>
        <!--Change arrow right-->
        <button v-if="playlistLinks" id="next" @click="next" class="d-flex align-items-center block-lighter" :disabled="linkIndex === linksArr.length - 1">
            <img src="/assets/img/icons/arrow-right.png" alt="right" >
        </button>
    </section>
</template>

<script>
    export default {
        props: {playlistLinks: String, currentLink: String},
        data() {
            return {
                linksArr: this.playlistLinks ? this.playlistLinks.split(";") : [this.currentLink],
                linkIndex: 0
            }
        },
        methods: {
            prev() {
                if (this.linkIndex) this.linkIndex--
            },
            next() {
                if (this.linkIndex !== this.linksArr.length-1) this.linkIndex++;
            }
        },
        computed: {
            justifyContent() {
                return this.playlistLinks ? 'justify-content-between' : 'justify-content-center'
            }
        }
    }
</script>

<style lang="scss" scoped>
    img {
        width: 40px;
    }
    button {
        background: #00000000;
        border: #00000000;
    }

    .block-lighter:hover {
        filter: brightness(75%);
        cursor: pointer;
        transition: .2s;
        img {
            filter: brightness(100%);
        }
    }
    .block-lighter:disabled {
        filter: brightness(100%);
        cursor: auto;
        img {
            filter: brightness(140%);
        }
    }
</style>