<#macro consts>
<script type="application/json">
    {"consts": {
        "HEADER": ["Каталог", "Статьи", "Для начинающих", "FAQ", "О сайте", "Контакты"],
        "FOOTER": ["Авторские права", "Вся представленная информация на сайте была взята из открытых источников в интернете. В случае нарушения авторских прав, обратитесь на почту sd103e@mail.ru", "Навигация", "Другое", "Контакты", "Поиск"],
        "PAGES": {
            "INDEX": ["Начни кодить уже сейчас, сидя дома", "жми на кнопку ниже и погнали", "Хочу стать хацкером!",
                "Что ты найдешь на сайте?", "Если ты зашел на этот сайт, значит решил попробовать заниматься программированием. Поздравляю, ты попал на нужный сайт. Здесь собрана большая часть информации с рунета по многим, интересующим тебя темам",
                "Языки программирования", "и многое другое",
                "Без понятия что учить?", "Тогда <a href='/start' class='underlined'>вот страница</a>, на которой можно узнать о всей каше, которая твориться в IT. Ты быстро пробежишься и узнаешь о типах, видах и основах программирования. Подскажем, что нужно учить и поможем не наступить на грабли", "Отстань, дай посмотрю, что у вас тут есть"],
            "CATALOG": ["Всё", "Выберите категорию"],
            "CURRENT": ["Главное", "Основы", "Фреймворки", "Основные сведения", "Подходящих результатов не найдено", "Не подходит новичку"],
            "ARTICLES": ["Введены некорректные данные"],
            "ARTICLE": ["Все статьи", "Ссылка на источник", "От этого же автора"],
            "START": [],
            "SEARCH": ["Результаты поиска по запросу", "Языки программирования и фреймворки", "Статьи видео и книги", "По данному запросу ничего не найденно"],
            "FAQ": ["Ответы на часто задаваемые вопросы", [
                ["Что это за сайт?", "Это место, где ты можешь получить доступ к информации, которая заставит твои нейроны в мозге шевелиться."],
                ["Для чего он был создан?", "Данный сайт был создан с целью помочь людям, которые хотят начать изучать программирование или улучшить свои текущие навыки."],
                ["Что именно есть на сайте?", "Здесь собрана информация с рунета, которая по мнению автора, поможет вам лучше и быстрее познать дзен в программировании."],
                ["В каких форматах вы предоставляете контент?", "На данный момент у нас есть статьи, видео с YouTube и подборки книг."],
                ["У вас есть свой оригинальный контент на сайте?", "Видео на YouTube не снимаем, да и книг вроде как не пишем. Зато есть статьи."]], [
                ["Зачем мне пользоваться вашим сайтом, если все это и так есть в интернете?", "Одна из главных причин и идей при разработке было то, что весь контент просортирован по разным критериям, что облегчит пользователю поиск того, что скорее всего подойдет ему для изучения."],
                ["Что если я хочу изучать программирование, но не знаю что мне учить?", "Заходи <a href='/start' class='underlined'>вот сюда</a> и прочитай данную статью."]],
               [["Куда мне писать если я хочу предложить вам статью/видео/книгу или фичу для сайта?", "Ты можешь перейти на <a href='/start' class='underlined'>эту страницу</a> и отправить нам сообщение с данным предложением."],
                ["Что делать, если я нашел баг на сайте?", "И ты снова можешь перейти на вот <a href='/start' class='underlined'>эту страницу</a> и написать нам."],
                ["Я пришел ругаться с вами по поводу нарушение авторских прав, где будет ругаться?", "По любым вопросам вы можете писать нам <a href='/start' class='underlined'>от сюда</a> либо на почту sd103e@mail.ru"]]],
            "ABOUT": [""],
            "CONTACTS": ["Свяжитесь с нами", "Ваше имя", "Введите имя", "Email", "Введите email", "Тема"]
        },
        "FIELDS": {
            "CATEGORY": ["Язык программирования", "Фреймворк", "Движок", "Язык разметки", "Язык стилей", "Препроцессор", "Диалект", "Язык запросов к БД", "Категория"],
            "FORMAT": ["Статьи","Видео","Книги", "Формат"],
            "DIFFICULT": ["Легкий", "Средний", "Высокий ", "Уровень"],
            "PUBLICATION": ["С", "По", "Год публикации"],
            "DEMAND": ["Средняя", "Высокая", "Востребованность"],
            "SUITABLE": ["Нет", "Да", "Подходит новичку"],
            "TIME": ["От", "До", "Примерное кол-во месяцев при интенсивном изучении", "Время изучения"],
            "ABSTRACTION": ["Низкий", "Высокий", "Уровень абстракции"],
            "VARS": ["Статистический", "Динамический", "Тип переменных"],
            "OOP": ["Нет", "Есть", "ООП"],
            "SYNTAX": ["Фигурные скобки", "Отступы", "Синтаксис"]
        },
        "AUTHOR": ["Автор"],
        "PLACEHOLDERS": ["Поиск"],
        "BUTTONS": ["Узнать больше", "Отправить"],
        "FORMAT_CATEGORY": ["articles", "videos", "books"]
    }}
</script>
</#macro>